<div class="container">
  <div class="body">
    <h1>Homepage</h1>
    <div>
      <a href="/signup" class="button">Sign Up</a>
      <% if (locals.user) { %>
        <a href="/signout" class="button">Sign Out</a>
      <% } else { %>
        <a href="/signin" class="button">Sign In</a>
      <% } %>
    </div>
  </div>
  <% if (locals.user) { %>
    <div class="body">
      <h2>Welcome Back, <%= locals.user.first_name %>.</h2>
      <a href="/new-message" class="button">New Message</a>
      <form action="/membership">
        <% if (locals.user.membership_status) { %>
          <button type="submit">Relinquish Membership</button>
        <% } else { %>
          <button type="submit">Join Membership</button>
        <% } %>
      </form>
      <h3>Users</h3>
      <ul class="users-container">
        <% users.forEach(({username}) => { %>
          <li class="users">
            <%= username %>
          </li>
        <% }) %>
      </ul>
      <h3>Messages</h3>
      <ul>
        <% messages.forEach(({title, message, username, timestamp}) => { %>
          <li class="messages">
            <h4><%= title %></h4>
            <p><%= locals.user.membership_status ? username : "Anonymous" %></p>
            <p><%= message %></p>
            <p><%= locals.user.membership_status ? timestamp : "" %></p>
          </li>
        <% }) %>
      </ul>
    </div>
  <% } %>
</div>
<script src="/js/confirm.js"></script>