<div class="container">
  <div class="body">
    <h1>Homepage</h1>
    <div>
      <a href="/signup" class="button">Sign Up</a>
      <% if (locals.user) { %>
        <a href="/signout" class="button">Sign Out</a>
      <% } else { %>
        <a href="/signin" class="button">Sign In</a>
      <% } %>
    </div>
  </div>
  <% if (locals.user) { %>
    <div class="body">
      <h2>Welcome Back, <%= locals.user.first_name %>.</h2>
      <a href="/new-message" class="button">New Message</a>
      <form action="/role" method="post">
        <% if (locals.user.role === "user") { %>
          <button type="submit" name="roleChange" value="joinMember">Become a Member</button>
        <% } else if (locals.user.role === "member") { %>
          <button type="submit" name="roleChange" value="leaveMember">Relinquish Membership</button>
          <button type="submit" name="roleChange" value="joinAdmin">Become an administrator</button>
        <% } else { %>
          <button type="submit" name="roleChange" value="leaveAdmin">Relinquish administrator</button>
        <% } %>
      </form>
      <% if (locals.user.role === "admin") { %>
        <h3>Users</h3>
        <ul class="users-container">
          <% users.forEach(({username}) => { %>
            <li class="users">
              <%= username %>
            </li>
          <% }) %>
        </ul>
      <% } %>
    </div>
  <% } %>
  <div class="body">
    <h3>Messages</h3>
    <ul>
      <% messages.forEach(({id, title, message, username, timestamp}) => { %>
        <li class="messages">
          <div>
            <h4><%= title %></h4>
            <p><%= locals.user && locals.user.role !== "user" ? username : "Anonymous" %></p>
            <p><%= message %></p>
            <p><%= locals.user && locals.user.role !== "user" ? timestamp : "" %></p>
          </div>
          <% if (locals.user && locals.user.role === "admin") { %>
            <button type="button" data-id="<%= id %>" class="delete"><span class="material-symbols-rounded">delete</span></button>
          <% } %>
        </li>
      <% }) %>
    </ul>
  </div>
</div>
<script src="/js/confirm.js"></script>