<div class="container">
  <h2>Hello, <%= locals.user.first_name %>.</h2>
  <div>
    <a href="/new-post" class="button">New Post</a>
    <a href="/" class="button">Back</a>
  </div>
  <ul>
      <% posts.forEach(({id, title, body, username, timestamp}) => { %>
        <li class="post">
          <div>
            <h4><%= title %></h4>
            <p><%= username %></p>
            <p><%= body %></p>
            <p><%= timestamp %></p>
          </div>
          <div>
            <a href="/my/posts/<%= id %>" class="control edit">
              <span class="material-symbols-rounded">edit</span>
            </a>
            <button type="button" data-id="<%= id %>" class="control delete">
              <span class="material-symbols-rounded">delete</span>
            </button>
          </div>
        </li>
      <% }) %>
    </ul>
</div>
<script src="/js/confirm.js"></script>